.filter {
  max-width: 1400px;
  margin: auto;
  padding: 1rem;
  background-color: var(--orange);
  flex-wrap: wrap;
}
fieldset {
  border: none;
}

input,
select,
option {
  background-color: transparent;
  border: 1px solid var(--white);
}

input,
select,
option:focus {
  outline: none;
}

option {
  color: var(--black);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.year-filter input {
  width: 2rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.year-filter label {
  font-size: 0.8rem;
}

.genre-filter select {
  width: 9rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.search-filter input {
  width: 12rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.year-filter > p,
.genre-filter > p,
.search-filter > p,
.result-count { 
  font-weight: 700;
  margin: 0.6rem 0rem;
}
